# PlatformIO temporary files
.pio/
.vscode/

# System files
.DS_Store
Thumbs.db
desktop.ini

# IDE temporary files
*.swp
*.swo

# KiCad temporary files
*-cache.lib
*.kicad_prl
*.kicad_pro
*.kicad_sch.lck
*.kicad_pcb.lck
*.zip
*#auto_saved_files#*